services:
  # 1. API Service
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env 
    # Workers reduced to 2 for the API itself to save RAM for your 7 extraction workers
    command: gunicorn api:app --bind 0.0.0.0:8000 --workers 2 --worker-class uvicorn.workers.UvicornWorker
    restart: unless-stopped

  # --- 7 DEDICATED WORKERS ---
  # These will use the SWAP memory we just created if they get too heavy.

  extract-worker-1:
    build: .
    env_file: .env
    command: python extractWorker.py
    restart: unless-stopped

  extract-worker-2:
    build: .
    env_file: .env
    command: python extractWorker.py
    restart: unless-stopped

  extract-worker-3:
    build: .
    env_file: .env
    command: python extractWorker.py
    restart: unless-stopped

  format-worker-1:
    build: .
    env_file: .env
    command: python formatWorker.py
    restart: unless-stopped

  format-worker-2:
    build: .
    env_file: .env
    command: python formatWorker.py
    restart: unless-stopped

  flex-worker-1:
    build: .
    env_file: .env
    command: python flexWorker.py
    restart: unless-stopped
    

  # 3. Frontend Service
  frontend:
    build:
      context: ./frontend
      args:
        # REPLACE WITH YOUR STATIC IP
        - REACT_APP_API_URL=http://52.66.80.18:8000
    ports:
      - "80:80"
    depends_on:
      - api 
    restart: unless-stopped